<% include layout/header.ejs %>

        <h1>Chat !</h1>

        <div id="chatbox">
            <div id="pseudobox">
                <input type="text" id="pseudo_new" name="pseudo_new" placeholder="Votre pseudo">
                <button id="envoi_pseudo">Valider</button>
                <div id="error_message"></div>
            </div>

            <div id="div_chat">
                <form action="/" method="post" id="formulaire_chat">
                    <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
                    <input type="submit" id="envoi_message" value="Envoyer" />
                </form>

                <section id="zone_chat">
                    
                </section>
            </div>
        </div>

<% include layout/footer.ejs %>