{% include 'layout/header.twig' %}

<!--3rd Party Fonts & Icons-->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container fill">
    <div class="row chat-wrap">
        <div class="form-group">

            {% if messages.error %}
                <div class="alert alert-danger">
                    {{  messages.error }}
                </div>
            {% endif %}


            {% if messages.success %}
                <div class="alert alert-success">
                    {{  messages.success }}
                </div>
            {% endif %}

        </div>

        <!-- Contacts & Conversations -->
        <div class="col-sm-3 panel-wrap">

            <!-- Overlay Menu / Contacts -->
            <div class="col-sm-12 section-wrap collapse" id="Contacts">

                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                        <h4>Select a Contact</h4>
                        <div class="header-button">
                            <a class="btn pull-right" href="#Contacts" data-toggle="collapse">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!--Contacts-->
                <div class="row content-wrap">
                    <div class="contact btn">
                        <div class="media-body">
                            <h5 class="media-heading">Walter White</h5>
                        </div>
                    </div>
                </div>

            </div>

            <!--Left Menu / Conversation List-->
            <div class="col-sm-12 section-wrap">

                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                            <label for="createChan">Cree un chan</label>
                            <input type="text" id="createChan" name="createChan">
                            <button id="createC">Cree</button>
                    </div>
                </div>

                <!--Conversations-->
                <div class="row content-wrap">
                    {% for chan in chans %}
                    <div class="conversation btn">
                        <div class="media-body">
                            <h5 class="media-heading">{{ chan.chan }}</h5>
                            <small class="pull-right time">{{ chan.createdAt }}</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <!-- Messages & Info -->
        <div class="col-sm-9 panel-wrap">

            <!--Main Content / Message List-->
            <div class="col-sm-9 section-wrap" id="Messages">

                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                        <h4>Conversation Title</h4>
                    </div>
                </div>

                <!--Messages-->
                <div class="row content-wrap messages">
                    <div class="msg">
                        <div class="media-body">
                          <div id="zone-chat"></div>
                        </div>
                    </div>
                </div>

                <!--Message box & Send Button-->
                <div class="row send-wrap">
                    <div class="send-message">
                        <div class="message-text">
                            <textarea class="no-resize-bar form-control" rows="2" placeholder="Write a message..."></textarea>
                        </div>
                        <div class="send-button">
                            <a class="btn">Send <i class="fa fa-send"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <!--Sliding Menu / Conversation Members-->
            <div class="col-sm-3 section-wrap" id="Members">

                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                        <h4>Present dans ce chan</h4>
                    </div>
                </div>

                <!--Members-->
                <div class="row content-wrap">
                    <div class="contact">
                        <div class="media-body">
                            <h5 class="media-heading">Nom du mec</h5>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


{%  include 'layout/footer.twig' %}